* {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 55px;
    font-weight: 600;
    color: #4c5a0d;
}

p {
    font-size: 18px;
    font-weight: 400;
    line-height: 2.2rem;
    color: #281e25;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}